VITE_API_PORT=3100
VITE_WEB_PORT=5100
VITE_DASHBOARD_PORT=5200
VITE_JWT_ACCESS_SECRET=
VITE_JWT_REFRESH_SECRET=
VITE_COOKIE_SECURE=
VITE_PG_USER=
VITE_PG_PASSWORD=
VITE_PG_HOST=localhost
VITE_PG_PORT=5432
VITE_PG_DBNAME=
